In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import config
from sklearn.linear_model import LogisticRegression
#from sklearn.cross_validation import train_test_split

In [19]:
def read_data():
    engine = create_engine(config.database_config)
    emp = pd.read_sql_query("select * from employees", con = engine)
    y = emp['left']
    emp = emp.drop('left', axis=1)
    cat_vars=['sales','salary']
    for var in cat_vars:
        #cat_list='var_'+var
        emp = emp.join(pd.get_dummies(emp[var], prefix=var))
        emp = emp.drop(var, axis = 1)
    emp = emp.drop(["empID", "salary_high", "sales_accounting"], axis = 1)
    return emp, y

In [20]:
X,y = read_data()

In [21]:
X.head(1)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,sales_IT,sales_RandD,sales_hr,sales_management,sales_marketing,sales_product_mng,sales_sales,sales_support,sales_technical,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,0,0,0,0,0,0,0,1,0,0,1,0

In [22]:
logreg = LogisticRegression()
logreg.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [53]:
y_pred = logreg.predict_proba(X)[:, 1]

In [60]:
df = pd.DataFrame({"yhat" : list(y_pred), "y" : y})

In [68]:
df["y_class"] = df.yhat > 0.23

In [69]:
pd.crosstab(df.y, df.y_class)

y_class  False  True
y
0         8281   3147
1          841   2730